.list-group-item{
    color: black;
    border: none;
    margin: 0px 0px;
    text-align: center;
    box-shadow: gray;
}
.list-group-item.active{
    color: black;
}
.scrollspy-example{
    height: 500px;
    overflow-y: scroll;
}
.scrollspy-example::-webkit-scrollbar{
    width: 30px;
}
.scrollspy-example::-webkit-scrollbar-track{
    -webkit-border-radius: 4px;
    border-radius: 1px;
}
